<!-- templates/productos_template.html -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Productos - Mi Punto de Venta</title>

        <!-- Agrega los enlaces a Bootstrap CSS y cualquier otro estilo personalizado aquí -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        {% include 'productos/menu_productos.html' %}
        <div class="container mt-5">
            <h2>Productos</h2>

            <!-- Lista de productos -->
            <ul class="list-group">
                {% for producto in productos %}
                <li class="list-group-item">
                    {{ producto.nombre }} - {{ producto.descripcion }} - {{
                    producto.precio }} - {{ producto.stock }} - {{ producto.id
                    }}
                    <a
                        href="{% url 'editar_producto' producto.id %}"
                        class="btn btn-warning btn-sm float-right"
                        >Editar</a
                    >
                    <a
                        href="{% url 'eliminar_producto' producto.id %}"
                        class="btn btn-danger btn-sm float-right mr-2"
                        >Eliminar</a
                    >
                </li>
                {% endfor %}
            </ul>

            <!-- Formulario para crear nuevo producto -->
            <form
                method="post"
                action="{% url 'productos_crear' %}"
                class="mt-3"
            >
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input
                        type="text"
                        name="nombre"
                        class="form-control"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input
                        type="text"
                        name="descripcion"
                        class="form-control"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="precio">Precio:</label>
                    <input
                        type="text"
                        name="precio"
                        class="form-control"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input
                        type="text"
                        name="stock"
                        class="form-control"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="id">ID:</label>
                    <input
                        type="text"
                        name="id"
                        class="form-control"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-success">
                    Crear Producto
                </button>
            </form>
        </div>

        <!-- Agrega los enlaces a Bootstrap JS y cualquier otro script personalizado aquí -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if success %}
        <script>
            Swal.fire({
                title: 'Producto Creado',
                icon: 'success',
                confirmButtonText: 'OK',
            });
        </script>
        {% elif message %}
        <script>
            Swal.fire({
                title: 'Error',
                text: '{{ message }}',
                icon: 'error',
                confirmButtonText: 'OK',
            });
        </script>
        {% endif %}
    </body>
</html>
