<!-- templates/eliminar_cliente_template.html -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Eliminar Cliente - Mi Punto de Venta</title>
        <!-- Agrega los enlaces a Bootstrap CSS y cualquier otro estilo personalizado aquí -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        {% include 'menu_clientes.html' %}
        <div class="container mt-5">
            <h2>Eliminar Cliente</h2>

            <!-- Formulario para eliminar cliente por NIT -->
            <form
                method="post"
                action="{% url 'clientes_eliminar' %}"
                class="mt-3"
            >
                {% csrf_token %}
                <div class="form-group">
                    <label for="nit">NIT del Cliente a Eliminar:</label>
                    <input
                        type="text"
                        name="nit"
                        class="form-control"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-danger">
                    Eliminar Cliente
                </button>
            </form>
        </div>

        <!-- Agrega los enlaces a Bootstrap JS y cualquier otro script personalizado aquí -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
